* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    height: 70px;
    background-color: #202f43;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
}

.icon {
    background-color: #202f43;

    color: white !important;
}

.home-btn {
    background-color: #202f43;
    border: none;
}

.btn-text {
    color: white;
    font-weight: bold;

}

.margin {
    margin-left: 26px;
    cursor: pointer;
}

.sign-btn {
    margin-left: 30px;
    background-color: #00ba94;
    padding: 7px 20px;
    border: none;
    border-radius: 3px;
    font-size: small;
    color: white;
}

.sign-btn:hover {
    color: #151f2c;
}

.first-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #151f2c;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

.nav-icon {
    display: none !important;
    color: white !important;
    cursor: pointer;
    background-color: #00ba94 !;
    height: 20px !important;
}

.body-first-img {
    height: 570px !important;
}

@media screen and (max-width:960px) {
    .first-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:811px) {
    .option-container {
        display: none;
    }

    .nav-icon {
        display: block !important;
    }

    .overflow {
        transition: 2ms !important;
    }

    .header {
        align-items: center;
    }
}

@media screen and (min-width:811px) {

    .overflow {
        display: none !important;
    }

    .responsive-navbar {
        display: none !important;
    }

    .header {
        height: 70px !important;
        align-items: center !important;
    }

    .logo {
        align-items: center !important;
    }
}

.title-bottom {
    font-size: medium;
    font-weight: normal;
    text-align: center;
    color: white;
}

.overflow {
    width: 100%;
    top: 70px;
    transition: 3s;
    display: none;
    position: absolute;
    background-color: #2c77da;
}

.responsive-navbar {
    height: 500px;
    bottom: 0;
    position: fixed;
}

.colum {
    display: flex;
    flex-direction: column !important;
}